@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  height: 50%;
}


body {
  font: 14px/1 'Open Sans', sans-serif;
  background: white;
}


main {
  
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
}

input {
  display: none;
}

label {
  margin: 0 0 -1px;
  padding: 15px 25px;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f00a';
  
}

label[for*='2']:before {
  content: '\f0c8';
}

label.changes {

  display: inline-block;
  justify-content: center;
}

label:hover {
  cursor: pointer;
}


#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}

  .row {
    display: flex;
    margin: auto
  }



  div.card {
    box-sizing: border-box;
    background: white;
    margin-top: 10px;

}

div.card img {
    width: 100%;

}

div.date {

  display: flex;
	justify-content: flex-end;
	padding-right: 5px;

}


